body{

    background-image: url('/buoi 5/img/453836 (1).jpg');
    background-size: cover;
} 


#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}


#signup-form{
    width: 4000px;
    max-width: 400px;
    background: rgba(0,0,0,0.8) ;
    flex-grow: 1;
    padding:60px 60px 70px;
    border:1px solid yellow ;
  
}


.label{

    color: aliceblue;
}
#email{

}
#pwd{
   
}
.form_group{
    border-bottom: 1px solid white;

}
.form_input{
    background: transparent;
    border: 0;
    outline: 0;
}
.sign_up{
    margin-bottom: 40px;
}
.form-input::placeholder{
    color: aliceblue;
 
 }
 
 .form-submit{
     background: transparent;
     color: white;
     width: 100%;
     padding: 6px 10px;
     margin-top: 30px;
     transition: 1s ease;
 }
 .form-submit:hover{
     color:  gray;
 }

 #submit{
    margin-top:20px  ;
    padding-left: 100px;
    padding-right: 100px;
    
    background: rgba(0,0,0,0) ;
    color: antiquewhite;
 }
 
 #submit-cover{
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius:10% pink;
}